<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="static/icon.jpg" rel="icon" type="image/x-icon" />
    <title>学生选课和成绩管理系统</title>
    <link rel="stylesheet" type="text/css" href="static/css/teacher.css">
</head>

<body class="mybody">
    <div class="mydiv">
        <div style="font-family:'Times New Roman';line-height: 30px;overflow-y: hidden;clear: both;">
            <div
                style="font-family:'Times New Roman';float: left;width: 5px;height: 30px;background: RGBA(231, 77, 130, 1);">
            </div>
            <span style="font-family:'Times New Roman';float: left;margin-left: 15px;font-weight: bold;">批量成绩录入</span>
        </div>
        <div style="font-family:'Times New Roman';margin-top: 15px;">
            <table border="1" class="table">
                <tr class="tr">
                    <th class="myth">课程编号</th>
                    <th class="myth">课序号</th>
                    <th class="myth">课名</th>
                    <th class="myth">学分</th>
                    <th class="myth">课程类别</th>
                    <th class="myth">操作</th>
                </tr>
                {% for r in results %}
                <tr class="tr">
                    <td class="mytd">{{r[0]}}</td>
                    <td class="mytd">{{r[1]}}</td>
                    <td class="mytd">{{r[2]}}</td>
                    <td class="mytd">{{r[3]}}</td>
                    <td class="mytd">{{r[4]}}</td>
                    <td class="mytd">
                        <form name="input" action="{{url_for('excel_mark')}}" method="post"
                            enctype="multipart/form-data">
                            <input type="hidden" id="bianhao" value="{{bianhao}}" name="bianhao">
                            <input type="hidden" id="kehao" value="{{r[0]}}" name="kehao">
                            <input type="hidden" id="kexuhao" value="{{r[1]}}" name="kexuhao">
                            <input class="form-control" type="file" accept=".xls,.xlsx" name="file" value="请上传excel文件">
                            <input style="font-family:'Times New Roman';background: RGBA(231, 77, 130, 1);border: none;color: white;text-decoration: none;
    border-radius: 4px;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    padding: 5px 8px;font-size: 15px;
    background-color: RGBA(231, 77, 130, 1);
    color: white;" type="submit" value="提交">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script type="text/javascript">
        // if ('{{result}}' != null && '{{result}}' != '') {
        //     alert('{{result}}')
        // }
    </script>
</body>

</html>