<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>学生选课和成绩管理系统</title>
    <style>
        .home {
            width: 100%;
            min-width: 1000px;
            height: 100%;
            top: 0;
            left: 0;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-position: center 0;
            background: url('static/book.jpg') no-repeat;
            background-size: cover;
            position: fixed;
            z-index: -10;
            zoom: 1;
        }
    </style>
</head>
<body class="mybody">
    <div class="home"></div>
</body>
</html>