<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="static/icon.jpg" rel="icon" type="image/x-icon" />
    <title>学生选课和成绩管理系统</title>
    <link rel="stylesheet" href="static/login2/css/style.css">
</head>

<body class="mybody">
    <div class="content">
        <div class="form sign-in">
            <h2>欢迎回来</h2>
            <!-- form提交action对应方法 -->
            <form name="input" action="/result" method="post" onsubmit="return checkInfo();">
                <label>
                    <span>用户名</span>
                    <input type="text" name="username" />
                </label>
                <label>
                    <span>密码</span>
                    <input type="password" name="password" />
                </label>
                <div style="font-family:'Times New Roman';text-align: center;margin-top: 15px">
                    <input style="font-family:'Times New Roman';width: 30px;display: inline-block;" type="radio"
                        name="shenfen" value="管理员">管理员
                    <input style="font-family:'Times New Roman';width: 30px;display: inline-block;" type="radio"
                        name="shenfen" value="教师">教师
                    <input style="font-family:'Times New Roman';width: 30px;display: inline-block;" type="radio"
                        name="shenfen" value="学生">学生
                </div>
                <button type="submit" class="submit">登 录</button>
            </form>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                </div>
                <div class="img__text m--in">
                    <h2>已有帐号？</h2>
                    <p>有帐号就登录吧，好久不见了！</p>
                </div>
            </div>
            <div class="form sign-up" style="font-family:'Times New Roman';overflow-y: scroll;">
                <h2>立即注册</h2>
                <form id="form2" action="/save" method="post" enctype="multipart/form-data">
                    <input type="text" name="database" value="admin"
                        style="font-family:'Times New Roman';display: none;" />
                    <input type="text" name="table" value="XueSheng"
                        style="font-family:'Times New Roman';display: none;" />
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // 表单校验
        function checkInfo() {
            var username = document.forms["input"]["username"].value;
            if (username == null || username == "") {
                alert("账号不能为空！");
                return false;
            }
            var password = document.forms["input"]["password"].value;
            // 正则校验密码规则
            var reg = /^[a-zA-Z0-9@#*$!%]*$/;
            if (password == null || password == "") {
                alert("密码不能为空！");
                return false;
            } else if (password.length < 6 || password.length > 16) {
                alert("请输入正确的密码，长度为6-16位！");
                return false;
            } else if (!reg.test(password)) { // 正则校验
                alert("请输入正确的密码,仅可用英文、数字、特殊字符@#*$!%！");
                return false;
            }
            var usertype = document.forms["input"]["shenfen"];
            if (usertype[0].checked == false && usertype[1].checked == false && usertype[2].checked == false) {
                alert("请选择用户身份！");
                return false;
            }
            return true;
        }
    </script>
</body>

</html>