<!DOCTYPE html>
<html lang="en">

<head>
    <link href="static/icon.jpg" rel="icon" type="image/x-icon" />
    <title>学生选课和成绩管理系统</title>
    <link rel="stylesheet" type="text/css" href="static/css/manager.css">
    <style>
        .kehao {
            width: 100px;
            height: 35px;
        }
    </style>
</head>

<body class="mybody">
    <div class="mydiv">
        <div style="font-family:'Times New Roman';line-height: 30px;overflow-y: hidden;clear: both;">
            <div
                style="font-family:'Times New Roman';float: left;width: 5px;height: 30px;background: RGBA(231, 77, 130, 1);">
            </div>
            <span style="font-family:'Times New Roman';float: left;margin-left: 15px;font-weight: bold;">开课信息列表</span>
        </div>
        <div class="head">
            <div style="font-family:'Times New Roman';float:left;">
                <form class="form-inline" action="{{url_for('coursedata_api.selectCourse')}}" method="post">
                    <div class="form-group">
                        <label for="kehao">课程编号</label>
                        <select id="kehao" class="kehao" name="kehao">
                            {% for r in results %}
                            <option value="{{r[0][0]}}">{{r[0][0]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="kexuhao">课序号</label>
                        <input type="text" id="kexuhao" name="kexuhao" oninput="value=value.replace(/[^\d]/g,'')">
                    </div>
                    <button type="submit" class="button_cha rtbtn">查询</button>
                </form>
            </div>
            <div style="font-family:'Times New Roman';float:right;">
                <a class="button rtbtn" href="{{url_for('coursedata_api.add_open')}}">添加开设课程</a>
                <a class="button rtbtn" href="javascript:void(0);" id="delselected">删除选中项</a>
            </div>
        </div>
        <form id="form" action="{{url_for('coursedata_api.deleteCourcedata')}}" method="post">
            <table border="1" class="table">
                <tr class="tr">
                    <th class="myth"><input type="checkbox" id="firstcb"></th>
                    <th class="myth">课程编号</th>
                    <th class="myth">课序号</th>
                    <th class="myth">任课教师</th>
                    <th class="myth">选课人数上限</th>
                    <th class="myth">开课学期</th>
                    <th class="myth">上课地点</th>
                    <th class="myth">上课时间</th>
                    <th class="myth">开课班级</th>
                    <th style="font-family:'Times New Roman';width: 101px">操作</th>
                </tr>
                {% for r in results %}
                <tr>
                    <td class="mytd"><input type="checkbox" id="couid" name ="couid" value="{{r[0][0]}}+{{r[0][1]}}+{{r[0][2]}}">
                    </td>
                    <td class="mytd">{{r[0][0]}}</td>
                    <td class="mytd">{{r[0][1]}}</td>
                    <td class="mytd">{{r[0][2]}}</td>
                    <td class="mytd">{{r[0][3]}}</td>
                    <td class="mytd">{{r[0][4]}}</td>
                    <td class="mytd">{{r[0][5]}}</td>
                    <td class="mytd">{{r[0][6]}}周星期{{r[0][7]}}第{{r[0][8]}}大节</td>
                    <td class="mytd">
                        {% for i in r[1] %}
                        {{i[0]}}&nbsp;
                        {% endfor %}
                    </td>
                    <td class="mytd"><a
                            href="{{url_for('coursedata_api.updateCourcePagedata')}}?kehao={{r[0][0]}}&kexuhao={{r[0][1]}}&tea={{r[0][2]}}"
                            class="buttons rtbtn2">修改</a>&nbsp;
                        <a class="buttons rtbtn2"
                            href="{{url_for('coursedata_api.deleteCourcedata')}}?kehao={{r[0][0]}}&kexuhao={{r[0][1]}}&tea={{r[0][2]}}">删除</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    <script type="text/javascript">
        if ('{{result}}' != null && '{{result}}' != '') {
            alert('{{result}}')
        }
        window.onload = function () {
            document.getElementById("delselected").onclick = function () {
                if (confirm("您确定要删除选中开课信息吗？")) {
                    var flag = false;
                    var cbs = document.getElementsByName("couid");
                    for (var i = 0; i < cbs.length; i++) {
                        if (cbs[i].checked) {
                            flag = true;
                            break;
                        }
                    }
                    if (flag) {
                        document.getElementById("form").submit();
                    } else {
                        alert("您未选中任何选项！");
                    }
                }
            }
            document.getElementById("firstcb").onclick = function () {
                var cbs = document.getElementsByName("couid");
                for (var i = 0; i < cbs.length; i++) {
                    cbs[i].checked = this.checked;
                }
            }
        }
    </script>
</body>

</html>