<!DOCTYPE html>
<html lang="en">

<head>
    <link href="static/icon.jpg" rel="icon" type="image/x-icon" />
    <title>学生选课和成绩管理系统</title>
    <link rel="stylesheet" type="text/css" href="static/css/manager.css">
    <style>
        .kehao {
            width: 100px;
            height: 35px;
        }
    </style>
</head>

<body class="mybody">
    <div class="mydiv">
        <div style="font-family:'Times New Roman';line-height: 30px;overflow-y: hidden;clear: both;">
            <div
                style="font-family:'Times New Roman';float: left;width: 5px;height: 30px;background: RGBA(231, 77, 130, 1);">
            </div>
            <span style="font-family:'Times New Roman';float: left;margin-left: 15px;font-weight: bold;">课程信息列表</span>
        </div>
        <div class="head">
            <div style="font-family:'Times New Roman';float:left;">
                <form class="form-inline" action="{{url_for('courseinfo_api.selectCourse1')}}" method="post">
                    <div class="form-group">
                        <label for="kehao">名称</label>
                        <input type="text" name="course_name">
                    </div>
                    <button type="submit" class="button_cha rtbtn">查询</button>
                </form>
            </div>
            <div style="font-family:'Times New Roman';float:right;">
                <a class="button rtbtn" href="{{url_for('courseinfo_api.add_kecheng')}}">添加课程</a>
                <a class="button rtbtn" href="javascript:void(0);" id="delselected">删除选中项</a>
            </div>
        </div>
        <form id="form" action="{{url_for('courseinfo_api.deleteCource1')}}" method="post">
            <table border="1" class="table">
                <tr class="tr">
                    <th class="myth"><input type="checkbox" id="firstcb"></th>
                    <th class="myth">课程编号</th>
                    <th class="myth">名称</th>
                    <th class="myth">总学时</th>
                    <th class="myth">总分</th>
                    <th class="myth">课程类别</th>
                    <th style="font-family:'Times New Roman';width: 101px">操作</th>
                </tr>
                {% for r in results %}
                <tr>
                    <td class="mytd"><input type="checkbox" name="course_num" value="{{r[0]}}}"></td>
                    <td class="mytd">{{r[0]}}</td>
                    <td class="mytd">{{r[1]}}</td>
                    <td class="mytd">{{r[2]}}</td>
                    <td class="mytd">{{r[3]}}</td>
                    <td class="mytd">{{r[4]}}</td>

                    <td class="mytd"><a
                            href="{{url_for('courseinfo_api.updateCourcePage')}}?course_num={{r[0]}}&course_name={{r[1]}}&total_hours={{r[2]}}&credit={{r[3]}}&course_type={{r[4]}}"
                            class="buttons rtbtn2">修改</a>&nbsp;
                        <a class="buttons rtbtn2"
                            href="{{url_for('courseinfo_api.deleteCource1')}}?course_num={{r[0]}}">删除</a></td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    <script type="text/javascript">
        if ('{{result}}' != null && '{{result}}' != '') {
            alert('{{result}}')
        }
        window.onload = function () {
            document.getElementById("delselected").onclick = function () {
                if (confirm("您确定要删除选中课程信息吗？")) {
                    var flag = false;
                    var course_num = document.getElementsByName("course_num");
                    for (var i = 0; i < course_num.length; i++) {
                        if (course_num[i].checked) {
                            flag = true;
                            break;
                        }
                    }
                    if (flag) {
                        document.getElementById("form").submit();
                    } else {
                        alert("您未选中任何选项！");
                    }
                }
            }
            document.getElementById("firstcb").onclick = function () {
                var course_num = document.getElementsByName("course_num");
                //遍历选中
                for (var i = 0; i < course_num.length; i++) {
                    course_num[i].checked = this.checked;
                }
            }
        }
    </script>
</body>

</html>