<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="static/icon.jpg" rel="icon" type="image/x-icon" />
    <title>学生选课和成绩管理系统</title>
    <link rel="stylesheet" type="text/css" href="static/css/action.css">
    <style type="text/css"></style>
</head>
<body class="mybody">
    <div class="mydiv">
        <div class="head">
            <span style="font-family:'Times New Roman';margin-left: 15px">学生选课和成绩管理系统</span><div style="font-family:'Times New Roman';float: right;margin-right: 15px"><span>欢迎您，教师 {{name}}</span></div>
        </div>
        <div class="context">
            <div class="left">
                <ul>
                    <li class="myli"><a href="http://localhost:8081/self_info?bianhao={{bianhao}}&shenfen=教师" target="iframe">个人中心</a></li>
                    <li class="myli"><a href="http://localhost:8081/mima?bianhao={{bianhao}}&shenfen=教师" target="iframe">修改密码</a></li>
                    <li class="myli"><a href="{{url_for('t_teaching')}}?bianhao={{bianhao}}" target="iframe">开课信息</a></li>
                    <li class="myli"><a href="{{url_for('tea_mark')}}?bianhao={{bianhao}}" target="iframe">成绩中心</a></li>
                    <li class="myli"><a href="{{url_for('excel')}}?bianhao={{bianhao}}" target="iframe">批量成绩录入</a></li>
                    <li class="myli"><a  href="/">退出登录</a></li>
                </ul>
            </div>
            <div class="right"><iframe src="http://localhost:8081/feng" width="100%" height="100%" name="iframe" style="font-family:'Times New Roman';border: none;border-left: 1px solid RGBA(242, 200, 217, 1)"></iframe></div>
        </div>
    </div>
</body>
</html>